{% load socialaccount %}
{# {% providers_media_js %} #}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link href="images/favicon.png" rel="icon" />

<title></title>
<meta name="description" content="Quickai - Recharge & Bill Payment, Booking HTML5 Template">
<meta name="author" content="harnishdesign.net">

<!-- Web Fonts
============================================= -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' type='text/css'>

<!-- Stylesheet
============================================= -->
<link rel="stylesheet" type="text/css" href="{% static 'styles/auth/vendor/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'styles/auth/vendor/font-awesome/css/all.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'styles/auth/vendor/owl.carousel/assets/owl.carousel.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'styles/auth/vendor/owl.carousel/assets/owl.theme.default.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'styles/auth/css/stylesheet.css' %}" />

</head>
<body  style="padding-top: 50px;" >
<!-- Preloader -->
<div id="preloader"><div data-loader="dual-ring"></div></div><!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">

  <!-- Content
  ============================================= -->
  <div id="content"  style="background-color: #e7e9ed;" >

    <div class="container">
      <div id="login-signup-page" class="bg-light shadow-md rounded mx-auto p-4">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="nav-item"> <a id="login-page-tab" class="nav-link active text-4" data-toggle="tab" href="#loginPage" role="tab" aria-controls="login" aria-selected="true">Login</a> </li>
          <li class="nav-item"> <a id="signup-page-tab" class="nav-link text-4" data-toggle="tab" href="#signupPage" role="tab" aria-controls="signup" aria-selected="false">Sign Up</a> </li>
        </ul>
        <div class="tab-content pt-4">
          <div class="tab-pane fade show active" id="loginPage" role="tabpanel" aria-labelledby="login-page-tab">
            <form id="loginForm" method="post" action="/sign">{% csrf_token %}
              <div class="form-group">
				<label for="loginMobile">Username</label>
                <input type="text" name="username" class="form-control" id="loginMobile" required placeholder="Mobile or Email ID">
              </div>
              <div class="form-group">
				<label for="loginPassword">Password</label>
                <input type="password" name="password" class="form-control" id="loginPassword" required placeholder="Password">
              </div>
              <div class="row mb-4">
                <div class="col-sm">
                  <div class="form-check custom-control custom-checkbox">
                    <input id="remember-me" name="remember" class="custom-control-input" type="checkbox">
                    <label class="custom-control-label" for="remember-me">Remember Me</label>
                  </div>
                </div>
                <div class="col-sm text-right"> <a class="justify-content-end" href="{% url 'password_reset' %}">Forgot Password ?</a> </div>
              </div>
              <button class="btn btn-primary btn-block" type="submit">Login</button>
            </form>
            {{message}}
          </div>
          <div class="tab-pane fade" id="signupPage" role="tabpanel" aria-labelledby="signup-page-tab">
            <form action="/register" id="signupForm" method="post">{% csrf_token %}
              <div class="form-group">
				<label for="signupEmail">Email Address</label>
                <input type="email" class="form-control"  id="signupEmail" required placeholder="Email ID" name="email">
              </div>
              <div class="form-group">
                <label for="signupEmail">Username</label>
                        <input type="text" name="username" class="form-control"  id="signupEmail" required placeholder="Email ID">
                      </div>

              <div class="form-group">
				<label for="signupMobile">Password</label>
                <input type="password" name="password" class="form-control" id="signupMobile" required placeholder="Mobile Number">
              </div>
              <div class="form-group">
				<label for="signuploginPassword"> Repeat Password</label>
                <input type="password" name="password2" class="form-control" id="signuploginPassword" required placeholder="Password">
              </div>
              <button class="btn btn-primary btn-block" type="submit">Signup</button>
            </form>
          </div>
          <div class="d-flex align-items-center my-4">
            <hr class="flex-grow-1">
            <span class="mx-2">OR</span>
            <hr class="flex-grow-1">
          </div>
          <div class="form-row">
            <div class="col-sm-6 mb-3">
              <a href="{% provider_login_url "facebook" %}">  <button class="btn btn-block btn-sm btn-outline-primary shadow-none">Login with Facebook</button></a>
            </div>
            <div class="col-sm-6">
              <a href="{% provider_login_url "google" %}">   <button class="btn btn-block btn-sm btn-outline-danger shadow-none">Login with Google</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div><!-- Content end -->
  

  
</div><!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>



<!-- Script -->
<script src="{% static 'styles/auth/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'styles/auth/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'styles/auth/vendor/owl.carousel/owl.carousel.min.js' %}"></script> 
<script src="{% static 'styles/auth/js/theme.js' %}"></script> 

</body>

</html>